@media only screen and (min-width: 768px) {
  // FOR DESKTOP AND TABLET

  .landing {
    display: flex;
    height: 100vh;

    .addict {
      height: calc(11.5385vw - 0.115385);
      margin-left: 40px;
      display: block;
      transform: rotate(-90deg) translate(-100%, 0);
      transform-origin: top left;

      margin-top: 150px;
      font-family: sans-serif;

      p {
        width: 150px;
        margin: 0px -10px;
      }
    }

    .addict p:before,
    .addict p:after {
      content: "";
      position: absolute;
      border-bottom: 1px solid gray;
      border-top: 1px solid gray;
      top: 0;
      width: 80px;
    }
    .addict p:before {
      right: 100%;
      margin-top: 7px;

      margin-right: 23px;
    }
    .addict p:after {
      left: 100%;

      margin-top: 7px;
      margin-left: -2px;
    }

    .intro {
      width: 850px;
      font-family: "Open Sans", sans-serif;
      margin-left: -60px;
      h4 {
        margin-top: 65px;
      }
      .h3Intro {
        margin-top: 165px;
      }
      h3 {
        font-size: 35px;
        font-weight: 400;
        span {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: -0.125rem;
            left: -0.5rem;
            right: -0.5rem;
            height: 0.75rem;
            z-index: -1;
            background-repeat: no-repeat;
            background-image: url("../../assets/underLine.svg");
            background-size: cover;
          }
        }
      }

      h5 {
        margin-top: 50px !important;
      }
      h5 a {
        text-decoration: none !important;
        cursor: pointer;
        color: black;
      }
    }

    .profilePic {
      margin-top: 30px;

      position: relative;
      top: 15%;
      left: -6%;
      transform: rotate(2.5deg);
      img {
        width: 350px;
        height: 500px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  /* phones */
  .landing {
    // display: flex;
    height: 90vh;

    .addict {
      height: calc(11.5385vw - 0.115385);
      margin-left: 5px; //
      display: block;
      transform: rotate(-90deg) translate(-100%, 0);
      transform-origin: top left;

      margin-top: 80px; //
      font-family: sans-serif;

      p {
        font-size: 13px;
        width: 130px; //
        // margin: 0px 57px;
        margin-left: 300px;
      }
    }

    .addict p:before,
    .addict p:after {
      content: "";
      position: absolute;
      border-bottom: 1px solid gray;
      border-top: 1px solid gray;
      top: 0;
      width: 30px; //
    }
    .addict p:before {
      // right: 100%;
      margin-top: 7px;

      margin-left: -35px !important; //
    }
    .addict p:after {
      left: 100%;

      margin-top: 7px;
      margin-left: 5px !important;
    }

    .intro {
      width: 80%; //

      font-family: "Open Sans", sans-serif;
      margin-left: 30px; //
      h4 {
        margin-top: -35px; //
      }
      .h3Intro {
        margin-top: 60px; //
      }
      h3 {
        font-size: 5.8vw; //
        font-weight: 300; //
        span {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: -0.125rem;
            left: -0.5rem;
            right: -0.5rem;
            height: 0.35rem; //
            z-index: -1;
            background-repeat: no-repeat;
            background-image: url("../../assets/underLine.svg");
            background-size: cover;
          }
        }
      }

      h5 {
        color: black;
        margin-top: 350px;
      }
      h5 a {
        text-decoration: none !important;
        cursor: pointer;
        color: black;
      }
    }

    .profilePic {
      position: relative;
      top: -57%;
      left: 35.5%;
      transform: rotate(1deg);
      img {
        width: 230px;
        height: 350px;
      }
    }
  }
}

// @media only screen and (min-width: 768px) {
//   // FOR DESKTOP AND TABLET

// }

// @media only screen and (max-width: 767px) {
//   /* phones */

// }
