@media only screen and (min-width: 768px) {
  // FOR DESKTOP AND TABLET
  .about {
    font-family: "Open Sans", sans-serif;

    .section1 {
      margin-left: 60px;
      margin-top: 70px;
      padding-top: 40px;
      height: 90vh;
      p {
        width: 100%;
        font-size: 5vw;
        span {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: -0.125rem;
            left: -0.5rem;
            right: -0.5rem;
            height: 0.75rem;
            z-index: -1;
            background-repeat: no-repeat;
            background-image: url("../../assets/paraUnderLine.svg");
            background-size: cover;
          }
        }
      }
    }

    .section2 {
      margin-left: 60px;
      margin-top: 30px;
      height: 90vh;
      p {
        width: 100%;
        font-size: 5vw;
        span {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: -0.125rem;
            left: -0.5rem;
            right: -0.5rem;
            height: 0.75rem;
            z-index: -1;
            background-repeat: no-repeat;
            background-image: url("../../assets/paraUnderLine.svg");
            background-size: cover;
          }
        }
      }
    }

    .section3 {
      margin-left: 60px;
      margin-top: -40px;
      height: 80vh;
      p {
        width: 100%;
        font-size: 5vw;
        span {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: -0.125rem;
            left: -0.5rem;
            right: -0.5rem;
            height: 0.75rem;
            z-index: -1;
            background-repeat: no-repeat;
            background-image: url("../../assets/paraUnderLine.svg");
            background-size: cover;
          }
        }
      }
    }
  }

  .about_dark {
    font-family: "Open Sans", sans-serif;
    background-color: black;
    color: white;

    .section1 {
      margin-left: 60px;
      margin-top: 70px;
      padding-top: 40px;
      height: 90vh;
      p {
        width: 100%;
        font-size: 5vw;
        span {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: -0.125rem;
            left: -0.5rem;
            right: -0.5rem;
            height: 0.75rem;
            z-index: 1;
            background-repeat: no-repeat;
            background-image: url("../../assets/paraUnderLine.svg");
            background-size: cover;
          }
        }
      }
    }

    .section2 {
      margin-left: 60px;
      margin-top: 30px;
      height: 90vh;
      p {
        width: 100%;
        font-size: 5vw;
        span {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: -0.125rem;
            left: -0.5rem;
            right: -0.5rem;
            height: 0.75rem;
            z-index: 1;
            background-repeat: no-repeat;
            background-image: url("../../assets/paraUnderLine.svg");
            background-size: cover;
          }
        }
      }
    }

    .section3 {
      margin-left: 60px;
      margin-top: -40px;
      height: 80vh;
      p {
        width: 100%;
        font-size: 5vw;
        span {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: -0.125rem;
            left: -0.5rem;
            right: -0.5rem;
            height: 0.75rem;
            z-index: 1;
            background-repeat: no-repeat;
            background-image: url("../../assets/paraUnderLine.svg");
            background-size: cover;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  /* phones */
}
